/admin
/emails
/layout
/myaccount
/widgets
add-to-quote-addons.php
add-to-quote-button.php
add-to-quote.php
request-quote-default-form.php
request-quote-message.php
request-quote-view.php
request-quote.php